.scroll {
  width:25000px;
  position:fixed;
}

#mountains-background {
  z-index:1;
  top:30%;
  background-color:black;
}

section {
  width:612px;
  height:288px;
  float:left;
  margin-right:200px;
}

.image {
  width: 612px;
  height:288px;
  margin:10px;
  background:white;
}

#section_1 {
  background:red;
  color:white;
}


#section_2 {
  background:blue; 
  color:white;
}

#section_3 {
  background: green;
  color:white;
}

#section_4 {
  background:orange;
  color:white;
}

nav {
  height:100px;
  background: purple;
  color:white;
  position:fixed;
  width:100%;
}
